
<div class="hero d-flex align-items-center justify-content-center text-white text-center py-4">
  <div>
    <h1 class="display-4 fw-bold mb-3">Bienvenido a la web</h1>
    <p class="lead mb-4">Este es un ejemplo de una sección tipo hero</p>
    <a href="#" class="btn btn-primary btn-lg">Empezar</a>
  </div>
</div>

<div class="container mt 4">
        <h1 class="text-primary">Bienvenidos al curso</h1>
        <p class="lead">Aprenderemos Boostrap dentro de angular</p>
        <button class="btn btn-outline-primary">Empezar</button>
</div>
<div class="container mt-3">
  <h2 class="text-center">Mi Proyecto</h2>
  <p class="lead text-center">Un pequeño proyecto con Angular y Bootstrap</p>
  <div class="d-flex justify-content-center mt-4">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Introducción</h5>
        <p class="card-text">Una breve descripción del proyecto.</p>
        <button class="btn btn-primary">Ver</button>
      </div>
    </div>
  </div>
</div>